version: 2.1

jobs:
  build:
    docker:
      - image: tawfiq15/centos_ssh
    steps:
      - checkout
      - run: yum install maven -y 
      - save_cache:
          key: "maven-packages"
          paths:
            - /src/node_modules
      - run: maven --version
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - "npm-packages"
      - run: npm i
      - run: npm run test
      - run : npm audit fix --force 
      - run : npm fund    
       
  

workflows:
  my_workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      